/* ON EVERYTHING */

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  width: 100%;
  font-family: 'Gudea',sans-serif;
  line-height: 220%;
}

strong{
  font-weight: bold;
}
em{
  font-style: italic;
}

img{
  width: 100%;
}

a{
  color: rgb(253,160,6);
  text-decoration: none;
  border: 2px solid rgb(253,160,6);
  padding: 3px;
}
a:hover{
  color: black;
  background-color: rgb(253,160,6);
}
a.icon{
  color: rgb(253,160,6);
  border: none;
}
a.icon:hover{
  color: rgb(253,160,6);
  background-color: black;
  border: none;
}


/* SPLASH PAGE CONTENT */

#colorbg{
  z-index: 1;
  display: inline;
  position: absolute;
  left: 0;
  top: 0;
  background: url(whandur.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%
}
#black_sq{
  background-color: black;
  position: relative;
  top: 60px;
  left: 60px;
  overflow: auto;
  padding: 10px;
}

#center{
  width: 100%;
  display: inline;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
  color: rgb(253,160,6);
  background-color: rgba(0,0,0,0);
  position: relative;
  top: 0px;
}

#yt_container{
  width: 90%;
  margin: 0 auto;
}
#yt-video{
  width: 100%;
  max-width: 850px;
  min-width: 300px;
  margin: 0 auto;
}

input[type="submit"] {
  padding: 3px 7px;
  border: 2px solid rgb(253,160,6);
  cursor:pointer;
  font-family: 'Gudea',sans-serif;
  font-size: 12pt;
  background-color: black;
  color: rgb(253,160,6);
}
input[type="submit"]:hover{
  color: black;
  background-color: rgb(253,160,6);
}

input[type="email"]{
  width: 300px;
  background-color: black;
  font-size: 12pt;
  color: rgb(253,160,6);
  border: 2px solid rgb(253,160,6);
  padding: 3px;

}

.enter{
  cursor: pointer;
  font-size: 15pt;
  margin: 0 auto;
}

/* HOME PAGE CONTENT */

h1{
  width: 100%;
  text-align: center;
}
h1 a{
  color: rgb(253,160,6);
  text-decoration: none;
}

#container{
  margin: 50px auto;
  width: 60vw;
  min-height: 100%;
  margin-bottom: -200px;
  color: white;
  text-align: center;
}

.divider{
  max-width: 450px;
  height: 56px;
  margin: 0 auto;
  /* background: url(bar.jpg); */
  margin: 50px auto;
}
.divider img{
  width: 100%;
}

.sc-container{
  margin: 0 auto;
}
.sc-embed{
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
}

.content{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#word_bottom{
  background: rgb(253,160,6); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(black, rgb(253,160,6)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, rgb(253,160,6)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, rgb(253,160,6)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, rgb(253,160,6)); /* Standard syntax */
  width: 100%;
  line-height: 0%;
}
#contact{
  width: 100%;
  background-color: black;
  color: rgb(253,160,6);
  line-height: 170%;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  text-align: center;
  margin-bottom: 30px;
}
#contact .icon{
  font-size: 17pt;
}
#contact a{
  color: rgb(253,160,6);
  border: none;
}
#contact a:hover{
  color: rgb(253,160,6);
  background-color: black;
}
