<a class="icon" target="_blank" href="https://www.facebook.com/Goldwashmusic/"><i class="ss-icon">facebook</i></a>&nbsp;
<a class="icon" target="_blank" href="http://twitter.com/goldwashmusic"><i class="ss-icon">twitter</i></a>&nbsp;
<a class="icon" target="_blank" href="https://www.instagram.com/goldwashmusic/"><i class="ss-icon">instagram</i></a>&nbsp;
<a class="icon" target="_blank" href="https://open.spotify.com/artist/7yYa2im7sawSzuVkXx8W21"><i class="ss-icon">spotify</i></a>&nbsp;
<a class="icon" target="_blank" href="https://soundcloud.com/goldwash"><i class="ss-icon">soundcloud</i></a>&nbsp;
<img class="snapchat" style="width: 22px;" src="snapchat_orange.png" /><span class="snapchat_name">&nbsp; snapchat: goldwash</span><br />
chat - goldwashmusic@gmail.com <br />
mgmt - jake@holographgroup.com <br />
<a href="">download EPK</a><br />
© Goldwash<br />
<a href="http://ltwp.net">site by ltwp</a>
