<title>GOLDWASH</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
<link href="webfonts/ss-social-circle.css" rel="stylesheet" />
<!--<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">-->
<script type="text/javascript">
  $(document).ready(function() {
    $(".snapchat_name").hide();
    //toggle the componenet with class msg_body
    $(".snapchat").click(function(){
      $(".snapchat_name").slideToggle(300);
    });
  });
</script>
